* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: radial-gradient(circle at top left, #ff8c42, #0f172a);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-card {
    width: 420px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0 25px 60px rgba(0,0,0,0.4);
    color: #fff;
}

.logo {
    width: 50px;
    height: 50px;
    background: #ff7a18;
    border-radius: 12px;
    margin: 0 auto 20px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #cbd5e1;
    margin-bottom: 30px;
}

label {
    font-size: 14px;
    color: #cbd5e1;
}

.input-box {
    margin: 10px 0 20px;
}

.input-box input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.1);
    color: white;
    font-size: 15px;
}

.input-box input::placeholder {
    color: #94a3b8;
}

.forgot {
    text-align: right;
    margin-bottom: 20px;
}

.forgot a {
    color: #ff7a18;
    font-size: 14px;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 14px;
    background: linear-gradient(135deg, #ff7a18, #ff9f43);
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-btn:hover {
    opacity: 0.9;
}

.register-text {
    margin-top: 25px;
    text-align: center;
    color: #cbd5e1;
}

.register-text a {
    color: #ff7a18;
    text-decoration: none;
    font-weight: bold;
}

/* ERROR MESSAGE */
.error-msg {
    background: rgba(255, 0, 0, 0.15);
    color: #ffb4b4;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
    font-size: 14px;
}